body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Unter{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-btn *{
  padding: 10px;
  justify-content: space-between;
}

.header-main__wrapper {
  background-color: #518065;
  position: sticky;
  min-height: 80px;
  width: 100%;
  margin: 0 0 auto 0;
  z-index: 1024!important;
  opacity: 1;
}

.header-main__logo {
  max-height: 80px;
  max-width: 80px;
  margin: 0 auto;
  vertical-align:super;
}

.w3-left {
  float: left!important;
}

.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.w3-boarder-rad-10{
  border-radius: 10px;
}

table {
  border: 2px solid #518065;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
}

label {
  color: black;
}

thead th:nth-child(1) {
  width: 30%;
}

th, td {
  padding: 20px;
}

.divLoc{
  display: inline-block;
  background-color: #518065;
}

form {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

.textbox{
  border: 1px solid #d9d9d9;
  color: black;
  background-color: lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  height: 30px;
}

.submitButton {
  background-color: #6976d9;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
}
